@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transparent: rgba(0, 0, 0, 0.25);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background-image: url('../../public/page_background.jpg'
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.flex_container {
  display: flex;
  flex-direction: row;
}

div.flex_item {
  flex: 1;
}

div.center_align_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_style {
  color:var(--foreground);
  font-family: cursive;
}

/* CornClick styling */

.rounded_corners {
  border-radius: 12px;
}

.corn_click_column {
  padding:10px;
}

.farm_name_container {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--transparent);
}

.farm_name {
  font-size: 40px;
  margin: 6px;
  white-space: nowrap;
}

.corn_info_container {
  margin-top: 20px;
  width: 100%;
  background-color: var(--transparent);
  text-align: center;
}

.corn_count {
  font-size: 24px;
}

.corn_per_second {
  font-size: 18px;
}

.corn_click_image {
  width: 200px;
  height: 200px;
}