@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transparent: rgba(0, 0, 0, 0.25);
  --text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('../../public/page_background.jpg'
  );
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.flex_container {
  display: flex;
  flex-direction: row;
}

div.flex_item {
  flex: 1;
}

div.center_align_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_style {
  color:var(--text-color);
  font-family: cursive;
  user-select: none;
}

/* CornClick styling */

.rounded_corners {
  border-radius: 12px;
}

.corn_click_column {
  padding:10px;
}

.farm_name_container {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--transparent);
}

.farm_name {
  font-size: 40px;
  margin: 6px;
  white-space: nowrap;
  width: 300px;
  text-align: center;
}

.corn_info_container {
  margin-top: 20px;
  width: 100%;
  background-color: var(--transparent);
  text-align: center;
}

.corn_count {
  font-size: 24px;
}

.corn_per_second {
  font-size: 18px;
}

.corn_click_image {
  width: 200px;
  height: 200px;
}

.corn_click_image:hover {
  cursor: pointer;
}

/*#region Button styling*/
.item_button:hover {
  cursor: pointer;
  user-select: none; 
}

/*#endregion Button styling*/

.corn_plus_text {
  position: absolute;
  pointer-events: none;
  animation: move_corn_plus_text 1s forwards;
  z-index: 1;
}

@keyframes move_corn_plus_text {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--move-x), var(--move-y));
    opacity: 0;
  }
}

.corn_3d_box{
  border-style:solid;
  border-color:#171717;
  border-width: 5px;
}

.corn_3d_box:hover {
  cursor: pointer;
}

/* Passive Workers Styling */

.passive_worker_column {
  display:flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
  border: 4px solid black;
  gap: 32px;
}

.passive_worker_card {
  background-color: var(--transparent);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.worker_card_background {
  position: relative;
  height: 200px;
}

.worker_card_sprite {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
}

/* Circle Button */
.info-button {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes it a circle */
  background-color: var(--transparent);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: point er;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Modal Overlay (Background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Modal Content Box */
.modal-content {
  padding: 20px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 500px;
  color: white;
}
